.menubar{
    background-color: var(--sigma-blue);
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler-icon {
    background-color: white;
}

.form-control {
    background-color: white;
    color: black;
}

.dropdown-menu {
    background-color: white;
    color: black;
}

/* Ajustes para o contêiner de sugestões */
.suggestions-container {
    position: absolute;
    top: 70px;
    width: 100%;  /* Garantir que o contêiner tenha a largura da tela */
    max-width: 600px;  /* Limitar a largura máxima das sugestões */
    left: 50%;  /* Centralizar horizontalmente */
    transform: translateX(-50%);  /* Ajuste para centralização */
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos individuais para cada sugestão */
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Estilos para a notificação */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.notification-success {
    background-color: #d4edda;
    color: #155724;
}

.notification-error {
    background-color: #f8d7da;
    color: #721c24;
}