.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
}

.form {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.additionalInfo {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.additionalInfoList {
    margin-top: 10px;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.addButton {
    margin-left: 10px;
}

/* Estilo para a lista de resultados */
.userResultsList {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Estilo para os botões de usuário */
.userResultButton {
    display: block;
    width: 100%;
    max-width: 100%; /* Garantir que o botão não ultrapasse o tamanho da tela */
    padding: 10px;
    text-align: left;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s ease;
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden;    /* Oculta qualquer conteúdo extra */
    text-overflow: ellipsis; /* Exibe "..." quando o texto ultrapassar */
    box-sizing: border-box; /* Para garantir que o padding não quebre o layout */
    max-height: 50px; /* Define uma altura máxima */
    line-height: 1.5; /* Ajusta o espaçamento vertical do texto */
}

/* Estilo quando o botão é focado */
.userResultButton:hover {
    background-color: #0056b3;
    transform: scale(1.01);
}

.userResultButton:focus {
    outline: none;
}

.userResultButton:active {
    background-color: #004085;
}
